/* Global style attributes for the entire page. */
body {
	/*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-family: 'Hind', sans-serif;
	margin: 0px;
	background: #f7f5f2; /* Off-white. */
	color: #ffffff;
}

/* CSS attributes for the landing page--the first page that is seen when the website is accessed. */
#landing-container {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
}

#landing-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #E8EAF6;
	opacity: 0.75;
	z-index: -300;
}

#landing-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #9FA8DA;
	opacity: 0.75;
	z-index: -100;
	transition: 1s;
}

#landing-image {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('la_jolla.jpg') center 40%;
	background-size: cover;
	z-index: -200;
}

#landing-menu {
	margin-left: 7.5%;
	margin-top: 1.5%;
	position: absolute;
	width: 50%;
	z-index: 100;
	opacity: 0.0;
	transition: 1s;
}

#landing-menu li {
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: inline;
	cursor: pointer;
	color: white;
	font-size: 24px;
	text-transform: uppercase;
}

#landing-logo {
	text-align: center;
	top: calc(60% + 5px);
	color: white;
}

svg {
	opacity: 0.0;
	color: white;
	width: 7.5%;
	padding: 20px;
	margin-top: 10%;
	transition: 0.5s;
	cursor: pointer;
}

svg:hover {
	width: 6.5%;
	opacity: 0.5;
}

path {
	stroke-dasharray: 255;
	stroke-dashoffset: 255;
	-webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    		animation-delay: 2s;
	animation: dash 2.5s ease-in-out both;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

#landing-text {
	float: right;
	width: 100%;
	text-align: right;
	position: absolute;
	right: 15%;
	top: calc(70% - 80px);
	font-size: 36px;
	white-space: pre;
	color: white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer {
	position: absolute;
	bottom: 50px;
	width: 100%;
	height: 50px;
	text-align: center;
	float: bottom;
	z-index: 100;
	cursor: pointer;
	transition: 1s;
}

#experience-up-footer {
	bottom: 200px;
}

.footer:hover {
	transform: translateY(10px);
}

#experience-up-footer:hover {
	transform: translateY(-10px);
}

#contact-footer:hover {
	transform: translateY(-10px);
}

.down-arrow {
	padding-left: 40%;
	padding-right: 40%;
	transition: 1s;
	opacity: 0;
	float: bottom;
}

.down-arrow:hover {
	opacity: 1.0;
}

.up-arrow {
	padding-left: 40%;
	padding-right: 40%;
	transition: 1s;
	opacity: 0;
	float: bottom;
	font-size: 48px;
}

.up-arrow:hover {
	opacity: 1.0;
}

#landing-arrow {
	font-size: 48px;
	color: white;
}

#about-arrow {
	font-size: 48px;
}

#experience-arrow {
	font-size: 48px;
}

#experience-up-arrow {
	font-size: 48px;
}

/* CSS attributes for the intro page--the a mini page that is accessed between landing and about. */ 
#intro-container {
	position: relative;
	text-align: center;
	overflow: auto;
}

#intro-background {
	position: absolute;
	background: #212121;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -200;
}

#intro-item {
	position: relative;
	display: inline-block;
	margin-top: 75px;
	margin-bottom: 75px;
	height:175px;
	width: 500px;
	border-radius:175px;
	background: #FAFAFA;
}

#intro-image {
	display: inline-block;
	position: absolute;
	height:150px;
	width: 150px;
	border-radius:150px;
	text-align:center;
	margin-top: 12.5px;
	margin-left: -150px;
	background: #FAFAFA;
	overflow: hidden;
	border: 3px solid #FAFAFA;
}

.star {
	position: absolute;
	background: #FFFFFF;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	z-index: -100;
	transition: 2.5s;
}

.intro-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#intro-blurb {
	display: absolute;
	background: #FAFAFA;
	display: inline-block;
	margin-top: 50px;
	width: 350px;
	border-radius: 150px;
	text-align: justify;
	margin-left: 25px;
	color: #424242;
	font-family: 'Raleway', sans-serif;
}

/* CSS attributes for the about page--the second page that is accessed. */
#about-container {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 100%;
	background: #212121;
}

.header {
	display: inline-block;
	text-align: center;
	margin-top: 2.5%;
	height: 2%;
	width: 100%;
	font-size: 24px;
	z-index: 100;
}

#about-top {
	display: inline-block;
	text-align: center;
	margin-top: 7.5%;
	height: 30%;
	width: 100%;
	padding-bottom: 1%;
	transition: 1s;
}

#about-expand {
	display: none;
	width: 100%;
	height: 25%;
	opacity: 0.0;
	background: #f7f5f2;
	color: #212121;
}

#about-bottom {
	display: inline-block;
	position: absolute;
	text-align: center;
	height: 30%;
	margin-bottom: 7.5%;
	width: 100%;
	padding-top: 1%;
	bottom: 0;
	float: bottom;
	transition: 1s;
}

.about-box {
	display: inline-block;
	position: relative;
	text-align: center;
	top: calc(50% - 130	px);
	height: 90%;
	margin-left: 2%;
	margin-right: 2%;
	transition: 1s;
	cursor: pointer;
	color: rgba(0, 0, 0, 0);
	z-index: 100;
}

/* CSS attribute that forces a 1:1 aspect ratio for the about-box. */
#about-box-ed:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('campanile.jpg') center bottom;
	border: 5px solid white;
}

#about-box-projs:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('hammer.png') center center;
	background-size: cover;
	border: 5px solid white;
}

#about-box-interests:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('got-iron-throne.jpg') center center;
	background-size: cover;
	border: 5px solid white;
}

#about-box-me:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('san-diego-skyline.jpg') center center;
	background-size: cover;
	border: 5px solid white;
}

.about-box:hover {
	opacity: 0.5 !important;
	color: #ffffff !important;
}

.about-box-active {
	opacity: 0.5;
	color: #ffffff;
}

.content {
	position: absolute;
	top: calc(50% - 5px);
	left: 0;
	bottom: calc(50% + 5px);
	right: 0;
}

.about-text {
	display: none;
	line-height: 1.5;
	font-size: 12px;
	text-align: justify;
}

.about-logo {
	display: block;
	float: left;
}

.about-tiles {
	display: none;
	line-height: 1.5;
}

#ed-text {
	padding-left: 25%;
	padding-right: 25%;
}

#about-circle-soda {
	width: 150px;
	height: 150px;
}

#proj-text {
	text-align: center;
}

#interests-text {
	text-align: center;
	max-width: 100%;
}

#me-text {
	padding-left: 15%;
	padding-right: 15%;
}

.about-box-mini-container {
	display: inline-block;
	text-align: center;
	margin-top: 2.5%;
	height: 90%;
	width: 100%;
	padding-bottom: 1%;
	transition: 1s;
}

.about-box-mini {
	display: inline-block;
	position: relative;
	text-align: center;
	top: calc(50% - 80);
	height: 75%;
	margin-left: 2%;
	margin-right: 2%;
	transition: 1s;
	color: rgba(255, 255, 255, 0);
	z-index: 100;
}

.proj-logo {
	margin-left: 50px !important;
	margin-right: 50px !important;
}

.about-circle-container {
	display: inline-block;
	width: 256px;
	height: 200px;
	text-align: center;
}

#about-og {
	background: url('OG-image.png') center center;
	background-size: cover;
	text-decoration: none;
	color: black;
}

#about-second {
	background: url('coming-soon.jpg') center center;
	background-size: cover;
	text-decoration: none;
	color: black;
}

#about-third {
	background: url('coming-soon.jpg') center center;
	background-size: cover;
	text-decoration: none;
	color: black;
}

#about-got:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('tower-of-joy.jpg') center bottom;
	background-size: cover;
}

#about-gym:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('gym.jpg') center bottom;
	background-size: cover;
}

#about-food:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('pan-fire.jpg') center bottom;
	background-size: cover;
}

#about-stock:before {
	content: "";
	display: block;
	padding-top: 100%;
	background: url('stocks.jpg') center bottom;
	background-size: cover;
}

.about-box-mini:hover {
	color: #ffffff !important;
}

.overlay {
    position: absolute;
    top: 0;
    transition: 1s;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.overlay-active {
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0.96) 100%);
}

.content-mini {
	position: absolute;
	top: 15%;
	left: 5px;
	right: 5px;
}

/* CSS attributes for the experience page. */
#experience-container {
	display: inline-block;
	position: relative;
	width: 100%;
	background: #F06292; /* Pink */
	color: white;
}

#experience-overlay {
	background: black;
	opacity: 0.25;
}

#experience-header {
	margin-bottom: 2%;
	z-index: 100;
	position: absolute;
}

#experience-blurb {
	display: inline-block;
	width: 100%;
	text-align: center;
	opacity: 0.5;
	margin-top: 12px;
	font-size: 18px;
	transition: 1s;
}

.timeline {
	margin-bottom: 300px; /* Give room for the down arrow, which is positioned absolutely. */
	text-align: center;
}

.timeline-left {
	float: right;
	margin-right: 55%;
	width: 300px;
	height: 300px;
}

.timeline-right {
	float: left;
	margin-left: 55%;
	width: 300px;
	margin-bottom: 150px;
}

#timeline-container-first {
	margin-top: 10%;
}

.timeline-left-container {
	display: inline-block;
	width: 100%;
}

.experience-item-container {
	position: relative;
	overflow: auto;
	width: 100%;
}

.experience-item {
	width: 300px;
	text-align: center;
	opacity: 0.0;
	transition: 1s;
}

.timeline-circle {
	display: inline-block;
	height:150px;
	width: 150px;
	border-radius:150px;
	text-align:center;
	margin-left: 1%;
	margin-right: 1%;
}

.exp-logo-container {
	height: 155px;
	position: relative;
}

/*.exp-logo:hover + .timeline-left-line {
	left: calc(150px + 75px - 2px);
	width: 55%;
	opacity: 0.75;
}*/

.exp-logo {
	background: white;
	border: 3px solid;
	overflow: hidden;
	z-index: 100;
	transition: 1s;
}

.exp-logo:hover {
	opacity: 0.75;
}

.exp-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#experience-circle {
	display: inline-block;
	text-align: center;
	position: absolute;
	width: 20px;
	height: 20px;
	background: white;
	top: 4.5%;
	margin-left: -10px;
	margin-right: 0;
}

.exp-title {
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 1px;
}

.exp-text {
	line-height: 1.25;
	letter-spacing: 1.25px;
	text-align: justify;
	font-size: 12px;
}

.border { 
	background: silver; 
	position: absolute; 
}

.borderh { 
	height: 0px; 
	border: 5px solid; 
}

.borderv {
 	width: 0px; 
 	border: 5px solid; 
}

#experience-line {
	top: 5%;
	left: calc(50% - 5px);
	display: inline-block;
	text-align: center;
}

.timeline-left-line {
	position: absolute;
	border: 2px solid white;
	left: calc(45% - 75px);
	top: 77.5px;
	opacity: 0.0;
	transition: 0s;
}

.timeline-right-line {
	position: absolute;
	border: 2px solid white;
	right: calc(45% - 75px);
	top: 77.5px;
	opacity: 0.0;
	transition: 0s;
}

#experience-line-left {
	top: 90%;
	right: calc(50% - 5px);
	display: inline-block;
	text-align: center;
}

#experience-line-right {
	top: 90%;
	left: calc(50% - 5px);
	display: inline-block;
	text-align: center;
}

#experience-line-left-down {
	top: 90%;
	right: calc(50% - 5px + 5%);
	display: inline-block;
	text-align: center;
}

#experience-line-right-down {
	top: 90%;
	left: calc(50% - 5px + 5%);
	display: inline-block;
	text-align: center;
}

.timeline-future {
	opacity: 0.5;
}

/* CSS attributes for the contact page. */
#contact-container {
	display: inline-block;
	position: relative;
	height: 60%;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

#contact-background {
	height: 100%;
	background: url('yellowstone-self.jpg') center 0%;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
	  	 -o-background-size: cover;
	  		background-size: cover;
	background-attachment: fixed;

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

#contact-overlay {
	background: rgba(0,0,0,0.75);
	opacity: 1.0;
}

.blurb {
	position: absolute;
	color: white;
	font-size: 36px;
	text-align: left;
	padding-left: 40%;
	top: calc(10% + 5px);
	white-space: pre;
}

#contact-header-container {
	position: absolute;
	width: 100%;
	height: 36px;
	top: 40%;
}

#contact-header {
	display: inline-block;
	color: white !important;
	border: 5px solid white;
	width: 180px;
	height: 36px;
	cursor: pointer;
}

#contact-buttons {
	position: absolute;
	width: 100%;
	height: 10%;
	text-align: center;
	z-index: 100;
	bottom: calc(25% + 5px);
}

.circle {
	display: inline-block;
	height:50px;
	width: 50px;
	border-radius:50px;
	color:#fff;
	text-align:center;
	background:#000;
	margin-left: 1%;
	margin-right: 1%;
}

.fa {
	color: white;
	margin-top: 25%;
	
}

#github {
	font-size: 24px;
}

#mail {
	font-size: 24px;
}

#linkedin {
	font-size: 24px;
}

#contact-arrow {
	color: white;
	font-size: 36px;
}